<header class="header">

    <div class="title-container">
        <div class="title">
            <span class="white-text">Azure Powered</span>&nbsp;&nbsp;<span class="blue-text">AI Innovation Hub</span>
        </div>
        <div class="subtitle">
            <span>Ideate</span><span class="dot">•</span><span>Build</span><span class="dot">•</span><span>Accelerate</span>
        </div>
    </div>

    <div class="logo">

        <img src="assets/logo/white_logo_bg.png"
             alt="Apexon">

    </div>

</header>