<div class="sidebar">

    <nav class="sidebar-menu">

        <a
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">

            <i class="bi bi-house-door-fill"></i>
            <span>Home</span>

        </a>

        <a
            routerLink="/medication"
            routerLinkActive="active">

            <i class="bi bi-capsule-pill"></i>
            <span>Medication</span>

        </a>

        <a
            routerLink="/dbscanner"
            routerLinkActive="active">

            <i class="bi bi-database-fill"></i>
            <span>DB Scanner</span>

        </a>

        <a
            routerLink="/bimigrator"
            routerLinkActive="active">

            <i class="bi bi-bar-chart-line-fill"></i>
            <span>BI Migrator</span>

        </a>

    </nav>

</div>