.layout{
    display:flex;
    flex-direction:column;
    height:100vh;
    overflow:hidden;
}

.body-container{
    flex:1;
    display:flex;
    overflow:hidden;
    background:#030c18;
}

.page-container{
    flex:1;
    overflow-y:auto;
    padding:28px;
    position:relative;
}

.page-container::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image:url('../../../assets/logo/white_water_mark.png');
    background-repeat:no-repeat;
    background-position: center;
    background-size:380px;
    opacity: 0.04;
    pointer-events: none;
    z-index: 0;
}